# Global Owners
*       @kshvsharma960

# Monorepo Applications
/apps/api/        @kshvsharma960
/apps/web/        @kshvsharma960
/apps/worker/     @kshvsharma960

# Core Packages & SDKs
/packages/        @kshvsharma960

# Integration Adapters
/adapters/        @kshvsharma960

# GitHub Workflows & Templates
/.github/         @kshvsharma960
